.flex-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 300px;
    background-color: cadetblue;
}
.flex-item{
    width: 100px;
    background-color: aliceblue;
    border:1px solid blue;
    color:blue;
}